<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iniciosesin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InicioSesión">
        <activity android:name=".Practica.Evaluacion"></activity>
        <activity android:name=".Practica.Parejas" />
        <activity
            android:name=".Practica.Palabra_videos"
            android:excludeFromRecents="true"
            android:taskAffinity=".actividades.TabbedActivity" />
        <activity
            android:name=".Practica.Video_palabras"
            android:excludeFromRecents="true"
            android:taskAffinity=".actividades.TabbedActivity" />
        <activity android:name=".Aprende.ShowVideos" />
        <activity android:name=".Aprende.BotonesVideos" />
        <activity android:name=".NoSeUsan.BasesSwipe.PageChanger" /> <!-- android:theme="@style/Theme.InicioSesión.NoBar" -->
        <activity android:name=".NoSeUsan.BasesSwipe.DetailActivity" />
        <activity
            android:name=".popUps.PopUpShowVideos"
            android:theme="@style/Theme.InicioSesión.popMe" />
        <activity android:name=".Trial" />
        <activity android:name=".actividades.TabbedActivity" />
        <activity android:name=".actividades.Verbos" />
        <activity android:name=".actividades.Aprende" />
        <activity android:name=".NoSeUsan.InfoUser" />
        <activity android:name=".NoSeUsan.PaginaPrincipalUsuario" />
        <activity android:name=".actividades.SignUp" />
        <activity android:name=".actividades.LogIn" />
        <activity android:name=".actividades.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>